[Desktop Entry]
Name=Apollo11
GenericName=Hello World App
Comment=Hello, Houston
Categories=GTK;Utility;Developer;
Exec=apollo11
Icon=apollo11_test
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=apollo11
X-GNOME-UsesNotifications=true
Keywords=Hello;World;Example;
Actions=About;

[Desktop Action About]
Exec=apollo11 --about
Name=About Apollo11
